<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Proctor Management System</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="Images/Log.jpg">
</head>
<body>
    <div class="nav">
        <b><a href="/getd?name={{name}}&usn={{usn}}">Home</a></b>
        <b><a href="/profile">{{edit}} Profie</a></b>
        <b id="template"><a href = "/{{but}}">{{Prof}}</a></b>
        <b><a href="/logout">Log Out</a></b>
    </div>
    <div class="main">
        <img src="Images/Log.jpg">
        <h1>Proctor Management System</h1>
        <b>Welcome {{name}}</b>
        <b>BMSCE</b>
        <i>A Portal For BMSCE,By PS</i>
    </div>
</body>
</html>